
<!DOCTYPE html>
<html lang="pt-br" ng-app="app">
    <head>
    	<meta charset="utf-8"/>
    	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    	<title>Ficha de Impressão</title>
    	<link href="css/seu-stylesheet.css" rel="stylesheet"/>
    	<script src="scripts/seu-script.js"></script>
    </head>
<body>
<div>
 	
 	<center><h3>LISTAGEM DE RECOLHIMENTO DE DOCUMENTOS</h3></center>
	<table>
		<tr>
			<td>Órgão/Entidade</td>
			<td>Unidade/Setor</td>
			<td>Nº da Listagem </td>
			<td>Nº da Folha</td>
		</tr>

		<tr>
			<td>...</td>
			<td></td>
			<td>  </td>
			<td>  </td>
		</tr>

	</table>


	<table>
		<tr>
			<td>Código ou Nº. do Item</td>
			<td>Assunto / Série</td>
			<td>Datas-limite</td>
			<td>UA Quantidade</td>
			<td>UA Especificação</td>
			<td>Observação / Justificativa</td>
		</tr>

		<!-- <tr>
			<td>...</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
 -->


 		<!-- <div ng-repeat="ponto in vm.listaDePontos" ng-class-odd="'odd'" ng-class-even="'even'">
	    			<div ng-include="vm.listar"></div>
	    		</div>
 -->
	</table>

		

 
</div>
</body>
</html>