 <ul class="list-group">

	<li class="list-group-item">
	<span class="badge" ng-bind="movimento.servidor || ''"></span>
	Servidor
	</li>

	<li class="list-group-item">
	<span class="badge" ng-bind="movimento.documento"></span>
	Documento
	</li>

	<li class="list-group-item">
	<span class="badge" ng-bind="movimento.motivo"></span>
	Motivo
	</li>

	<li class="list-group-item">
	<span class="badge" ng-bind="movimento.data"></span>
	Data
	</li>

	<li class="list-group-item">
	<span class="badge" ng-bind="movimento.valor"></span>
	Valor
	</li>

	<!-- <li class="list-group-item" ng-click='vm.remover(movimento._id)'>
	<span class="badge"></span>
	
	<a  ng-href="">Clicando aqui você apaga esse registro.</a>
	</li> -->


</ul>